.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 200;
    color: white;
}
body{
    background-color:whitesmoke;
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid black;
    border-radius: 100px;
}
.origami {
    
    border-radius: 50px;
    background-color: white;
    
    width:400px;
    font-family: sans-serif;
    
}
